# Dependencies
node_modules/

# Build artifacts
.svelte-kit/
/build
/dist
cf-worker/

# test artifacts
test-results/
test-results

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example

# Project documentation (for eyes only - don't track)
CLAUDE.md
REFERENCES.md
CONTEXT.md

# Context bot
!/public\vic-context.md


